<ion-view view-title="Trace">
	
	<ion-nav-buttons side="right">
	
		<button class="button button-icon button-clear ion-grid" ng-click="openGridPopover($event)"></button>

		<button class="button button-icon button-clear ion-images" ng-click="openImagePopover($event)"></button>

		<button class="button button-icon button-clear ion-ipad" ng-click="openGlobalPopover($event)"></button>

	</ion-nav-buttons>

	<ion-content has-bouncing="false" scroll="false" class="trace-container">
	
		<div id="grid" ng-show="grid.showGrid" ng-style="grid.gridStyle"></div>
		
		<div id="kcontainer"></div>
		
	</ion-content>
	
</ion-view>


<script id="image-popover.html" type="text/ng-template">

	<ion-popover-view style="height: 300px">
			
		<ion-content scroll="false">
		
			<ion-list>
				
				<ion-item class="item item-divider" ng-click="addPhoto()">
					Choose Image
				</ion-item>
				
				<ion-item>
					<div class="button-bar">
						<button class="button icon-left ion-link" ng-click="addPhotoFromURL()">From URL</button>
						<button class="button icon-left ion-folder" ng-click="addPhoto()">From Photos</button>
					</div>
				</ion-item>
				
				<ion-item class="item range range-positive">
					<i class="icon ion-ios-sunny"></i>
					<input type="range" name="brightness" min="-1" max="1"  step="0.05" ng-model="image.brightness">
				</ion-item>

				<ion-toggle ng-model="image.grayscale">
					Color
		        </ion-toggle>

				<ion-toggle ng-model="image.drag">
					Drag & Zoom
		        </ion-toggle>

			</ion-list>
		
		</ion-content>
		
	</ion-popover-view>
	
</script>


<script id="global-popover.html" type="text/ng-template">

	<ion-popover-view style="height: 70px">
			
		<ion-content scroll="false">
		
			<ion-list>

				<ion-toggle ng-model="global.screen">
					Keep Screen On
		        </ion-toggle>

				<!--
				<ion-item class="item range range-positive">
					<i class="icon ion-ios-sunny"></i>
					<input type="range" name="brightness" min="0" max="100" ng-model="global.brightness">
				</ion-item>
				-->
								
			</ion-list>
		
		</ion-content>
		
	</ion-popover-view>
	
</script>


<script id="grid-popover.html" type="text/ng-template">

	<ion-popover-view style="height: 360px">
			
		<ion-content scroll="false">
		
			<ion-list>
				
				<ion-toggle ng-model="grid.showGrid">
					Show Grid			
		        </ion-toggle>

				<ion-item class="item range range-positive">
					<i class="icon ion-grid"></i>
					<input type="range" name="size" min="8" max="256" ng-model="grid.size">
				</ion-item>
				
				<ion-item class="item range range-positive">
					<i class="icon ion-aperture"></i>
					<input type="range" name="opacity" min="0" max="100" ng-model="grid.opacity">
				</ion-item>
				
				<ion-item class="item range range-positive">
					<i class="icon ion-android-color-palette"></i>
					<input type="range" name="hue" min="0" max="100" ng-model="grid.hue">
				</ion-item>
				
				<ion-item class="item range range-positive">
					<i class="icon ion-ios-color-wand"></i>
					<input type="range" name="saturation" min="0" max="100" ng-model="grid.saturation">
				</ion-item>
				
				<ion-item class="item range range-positive">
					<i class="icon ion-ios-sunny"></i>
					<input type="range" name="lightness" min="0" max="100" ng-model="grid.lightness">
				</ion-item>
			  
			</ion-list>
		
		</ion-content>
		
	</ion-popover-view>
	
</script>

