<ion-view view-title="Trace">
	
	<ion-nav-buttons side="right">
	
		<button class="button button-icon button-clear ion-grid" ng-click="openGridPopover($event)"></button>

		<button class="button button-icon button-clear ion-images" ng-click="openImagePopover($event)"></button>

	</ion-nav-buttons>

	<ion-content has-bouncing="false" scroll="false">
	
		<div id="grid" ng-show="grid.showGrid"></div>
		
		<div id="kcontainer"></div>
		
	</ion-content>
	
</ion-view>


<script id="image-popover.html" type="text/ng-template">

	<ion-popover-view>
			
		<ion-content>
		
			<ion-list>
			
				<ion-item ng-click="addPhoto()">
					Choose Image			
				</ion-item>
				
			</ion-list>
		
		</ion-content>
		
	</ion-popover-view>
	
</script>


<script id="grid-popover.html" type="text/ng-template">

	<ion-popover-view>
			
		<ion-content>
		
			<ion-list>
				
				<ion-toggle ng-model="grid.showGrid">
					Show Grid			
		        </ion-toggle>
				
			</ion-list>
		
		</ion-content>
		
	</ion-popover-view>
	
</script>

