
.trace-container {
	background-color: #000;	
}	

#grid {
	width: 125%;
	height: 100%;
	position: absolute;
	z-index: 100;
	pointer-events: none;
	border: 1px solid #000;
}

.square {
	min-width: inherit;
	min-height: inherit;
	border-bottom: inherit;
	border-right: inherit;
	float: left;
}

